*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: rgba(122, 92, 250, 0.2);
    margin: 0;
}

